{% extends 'blog.html.twig' %}

{% block body %}
    {% for article in articles %}
        <div class="pt-8 pb-4">
            <h2 class="text-gray-700 font-bold text-3xl py-2">
                {{ article.title }}
            </h2>
            <p class="text-base text-gray-700 pt-4 pb-10 leading-8 font-light">
                {{ article.description }}
            </p>
            <a href="/article/{{ article.id }}" class="uppercase border border-gray-500 text-gray-600 text-lg py-4 px-12 rounded transition transition-all hover:bg-gray-800 hover:text-white">
                Keep Reading
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
