<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/app.css') }}">{% endblock %}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
</head>
<body class="bg-gray-100 h-screen antialiased leading-none font-sans flex flex-col">
{% block header %}
    <nav
            class="flex items-center justify-between flex-wrap p-6 fixed w-full z-10 top-0"
            x-data="{ isOpen: false }"
            @keydown.escape="isOpen = false"
            :class="{ 'shadow-lg bg-gray-600' : isOpen , 'bg-gray-600' : !isOpen}">

        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <a
                    class="text-white no-underline hover:text-white hover:no-underline"
                    href="{{ path('homepage') }}">
            <span class="text-2xl pl-2 font-extrabold">
                Home
            </span>
            </a>
        </div>
        <div
                class="w-full flex-grow lg:flex lg:items-center lg:w-auto"
                :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }"
                @click.away="isOpen = false"
                x-show.transition="true">

            <ul class="pt-6 lg:pt-0 list-reset lg:flex justify-end flex-1 items-center">
                {% if is_granted('ROLE_ADMIN') %}
                <li class="mr-3">
                    <a
                            class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                            href="{{ path('create_category') }}"
                            @click="isOpen = false">
                        Create Category
                    </a>
                </li>
                {% endif %}
                {% if not app.user  %}
                    <li class="mr-3">
                        <a
                                class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                href="{{ path('app_register') }}"
                                @click="isOpen = false">
                            Register
                        </a>
                    </li>
                {% endif %}
                <li class="mr-3">
                    <a
                            class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                            href="{{ app.user ? path('app_logout') : path('app_login') }}"
                            @click="isOpen = false">
                        {{ app.user ? 'Logout' : 'Login' }}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="static top-100"<br><br><br><br>
    </div>
    <div class="flex-grow static"></div>
    {% for category in categories %}
        <div class="pt-8 pb-4 relative">
            <h2 class="text-gray-700 font-bold text-3xl py-2">
                {{ category.title }}
            </h2>
            <p class="text-base text-gray-700 pt-4 pb-10 leading-8 font-light">
                {{ category.description }}
            </p>
            <a href="/category/{{ category.id }}" class="uppercase border border-gray-500 text-gray-600 text-lg py-4 px-12 rounded transition transition-all hover:bg-gray-800 hover:text-white">
                Keep Reading
            </a>
        </div>
    {% endfor %}
{% endblock %}
{% block footer %}
    <footer class="bg-gray-600 py-6 mt-20 h-10">

    </footer>
{% endblock %}
</body>
</html>