{% extends 'blog.html.twig' %}

{% block body %}
    <div class="sm:w-3/5 w-4/5 mx-auto">
        <h1 class="pt-20 sm:text-5xl md:text-7xl text-4xl font-bold text-center">
            {{ article.title }}
        </h1>

        <p class="text-xl py-6">
            {{ article.description }}
        </p>
        {% if app.user %}
            <a
                    href="/articles/EditArticle/{{ article.id }}"
                    class="bg-green-500 font-bold py-2 px-4 rounded transition-all hover:bg-green-300">
                Edit Category
            </a>

            <a
                    href="/articles/DeleteArticle/{{ article.id }}"
                    class="bg-red-500 font-bold py-2 px-4 ml-6 rounded transition-all hover:bg-red-300">
                Delete Category
            </a>
            <a
                    href="/articles/{{ article.id }}/comment/create"
                    class="bg-yellow-500 font-bold py-2 px-4 ml-6 rounded transition-all hover:bg-red-300">
                Create Comment
            </a>
        {% endif %}
        {% for visi in visibility %}
        {% if visi.vis == '1' %}

            {% for comment in comments %}
            {% if (comment.article.id) == article.id %}
            <div class="pt-8 pb-4">
                <h2 class="text-gray-700 font-bold text-3xl py-2">
                    {{ comment.title }}
                </h2>
                <p class="text-base text-gray-700 pt-4 pb-10 leading-8 font-light">
                    {{ comment.content }}
                </p>
            </div>
            {%endif%}

        {% endfor %}
        {% else %}
            <div class="pt-8 pb-4">
                <h2 class="text-gray-700 font-bold text-3xl py-2">
                    Komentarze zostały wyłączone
                </h2>
            </div>
        {% endif %}
        {% endfor %}

    </div>
{% endblock %}
