{% extends '/blog/categories.html.twig' %}
{% block body %}
    <div class="sm:w-3/5 w-4/5 mx-auto">
        <h1 class="pt-20 sm:text-5xl md:text-7xl text-4xl font-bold text-center">
            {{ categories.title }}
        </h1>

        <p class="text-xl py-6">
            {{ categories.description }}
        </p>
        {% if is_granted('ROLE_ADMIN') %}
        <a
                href="/categories/EditCategory/{{ categories.id }}"
                class="bg-green-500 font-bold py-2 px-4 rounded transition-all hover:bg-green-300">
            Edit Category
        </a>

        <a
                href="/categories/DeleteCategory/{{ categories.id }}"
                class="bg-red-500 font-bold py-2 px-4 ml-6 rounded transition-all hover:bg-red-300">
            Delete Category
        </a>
        {% endif %}

        {% if app.user %}
                <a
                        href="/categories/{{ categories.id }}/articles/create"
                        class="bg-yellow-500 font-bold py-2 px-4 ml-6 rounded transition-all hover:bg-red-300">
                    Create Article
                </a>
        {% endif %}
        {% for article in articles %}
            {% if (article.categories.id) == categories.id %}
                <div class="pt-8 pb-4">
                    <h2 class="text-gray-700 font-bold text-3xl py-2">
                        {{ article.title }}
                    </h2>
                    <p class="text-base text-gray-700 pt-4 pb-10 leading-8 font-light">
                        {{ article.description }}
                    </p>
                    </p>
                    <a href="/article/{{ article.id }}" class="uppercase border border-gray-500 text-gray-600 text-lg py-4 px-12 rounded transition transition-all hover:bg-gray-800 hover:text-white">
                        Keep Reading
                    </a>
                </div>
            {%endif%}
        {% endfor %}
    </div>
{% endblock %}
